@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
}

.flex{
    display: flex;
    align-items: center;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}


.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: #161616;
    transition: all .3s ease-in-out;
    &:hover{
        color: #764abc;
    }
}

.flex-around{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.column{
    flex-direction: column;
}
button{
    cursor: pointer;
}